
;; symbols



{:simlayers {:w-mode {:key :w} ;; Window mode
             :s-mode {:key :s} ;; Symbols
             :d-mode {:key :d} ;; Dpad
             :f-mode {:key :f} ;; Cursor movement
             :g-mode {:key :g} ;; Select movement
             :v-mode {:key :v} ;; Vscode
             :c-mode {:key :c} ;; Comments
             :e-mode {:key :e} ;; F Keys

             :j-mode {:key :j} ;; large buttons
             :k-mode {:key :k} ;; brackets
             :l-mode {:key :l} ;; line mode
             }
 :main [{:des "simlayers"
         :rules [;; CHORDS
                 [:g [:!TCS4] :s-mode] ;; screenshot to clipboard (ctrl+cmd+shift+4)

                 ;; LEFT HAND

                 ;; w-mode - window mode

      ;qwert
                 ;; [:q [] :n-mode] ;;
                 ;; [:w [] :n-mode] ;;
                 ;; [:e [] :n-mode] ;;
                 ;; [:r [] :n-mode] ;;
                 ;; [:t [] :n-mode] ;;

      ;hjkl;
                 [:h [:!TOleft_arrow] :w-mode] ;; window left half
                 [:j [:!Cm] :w-mode] ;; minimize window
                 [:k [:!TOreturn_or_enter] :w-mode] ;; window fullscreen
                 [:l [:!TOright_arrow] :w-mode] ;; window right half    
                 ;;[:semicolon [] :n-mode] ;;

      ;nm,./
                 ;; [:n [] :n-mode] ;;
                 ;; [:m [] :n-mode] ;;
                 ;; [:comma [] :n-mode] ;;
                 ;; [:period [] :n-mode] ;;
                 ;; [:slash [] :n-mode] ;;


                 ;; d-mode - doubleable symbols mode
                 ;; &'"`:

      ;hjkl;

      ;d-mode - number pad
      ;s-mode - number pad symbols

                 [:d [:!Shyphen] :s-mode] ;; _

                 ;; yuiop
                 [:y [:0] :d-mode] ;; 0
                 [:y [:!Sgrave_accent_and_tilde] :s-mode] ;; ~
                 [:u [:1] :d-mode] ;; 1
                 [:u [:!S1] :s-mode] ;; !
                 [:u [:f1] :e-mode] ;; F1
                 [:i [:2] :d-mode] ;; 2
                 [:i [:!S2] :s-mode] ;; @
                 [:i [:f2] :e-mode] ;; F2
                 [:o [:3] :d-mode] ;; 3
                 [:o [:!S3] :s-mode] ;; #
                 [:o [:f3] :e-mode] ;; F3
                 [:p [:!Sbackslash] :s-mode] ;; |

                 ;; hjkl;
                 [:h [:4] :d-mode] ;; 4
                 [:h [:!S4] :s-mode] ;; $
                 [:h [:f4] :e-mode] ;; F4
                 [:j [:5] :d-mode] ;; 5
                 [:j [:!S5] :s-mode] ;; %
                 [:j [:f5] :e-mode] ;; F5
                 [:k [:6] :d-mode] ;; 6
                 [:k [:!S6] :s-mode] ;; ^
                 [:k [:f6] :e-mode] ;; F6
                 [:l [:7] :d-mode] ;; 7
                 [:l [:!S7] :s-mode] ;; &
                 [:l [:f7] :e-mode] ;; F7
                 [:semicolon [:!Ssemicolon] :s-mode] ;; :

      ; nm,./
                 [:n [:8] :d-mode] ;; 8
                 [:n [:!S8] :s-mode] ;; *
                 [:n [:f8] :e-mode] ;; F8
                 [:m [:9] :d-mode] ;; 9
                 [:m [:hyphen] :s-mode] ;; -
                 [:m [:f9] :e-mode] ;; F9
                 [:comma [:!Sequal_sign] :s-mode] ;; +
                 [:comma [:f10] :e-mode] ;; F10
                 [:period [:equal_sign] :s-mode] ;; =
                 [:period [:f11] :e-mode] ;; F11
                 [:slash [:backslash] :s-mode] ;; \
                 [:slash [:f12] :e-mode] ;; F12

                 ;; quotes

                 [:s [:quote] :k-mode] ;; singlequote
                 [:s [:quote :quote :left_arrow] :l-mode] ;; double singlequote

                 [:d [:!Squote] :k-mode] ;; doublequote
                 [:d [:!Squote :!Squote :left_arrow] :l-mode] ;; double doublequote

                 [:f [:grave_accent_and_tilde] :k-mode] ;; backtick
                 [:f [:grave_accent_and_tilde :grave_accent_and_tilde :left_arrow] :l-mode] ;; double backtick


                 ;; ;; [:h [:!S7] :d-mode] ;; ampersand
                 ;; [:semicolon [:!Ssemicolon] :d-mode] ;; colon

                 ;; ;nm,./
                 ;; ;; [:n [:!S7 :!S7 :left_arrow] :d-mode] ;; double ampersand

                 ;; [:slash [:!Ssemicolon :!Ssemicolon] :d-mode] ;; double colon (no reset)


                 ;; s-mode - symbols

      ;yuiop
                 ;; [:y [:!S6] :s-mode] ;; caret
                 ;; [:u [:!S8] :s-mode] ;; asterisk
                 ;; [:i [:!S5] :s-mode] ;; modulo
                 ;; [:o [:!S4] :s-mode] ;; dollar
                 ;; [:p [:!S3] :s-mode] ;; hashtag

      ;hjkl; - math
                 ;; [:h [:!Sequal_sign] :s-mode] ;; plus
                 ;; [:j [:hyphen] :s-mode] ;; hyphen (minus)
                 ;; [:k [:!Shyphen] :s-mode] ;; underscore
                 ;; [:l [:equal_sign] :s-mode] ;; equal_signs   
                 ;; [:semicolon [:!Sgrave_accent_and_tilde] :s-mode] ;; tilde

      ;nm,./
                 ;; [:n [:backslash] :s-mode] ;; backslash
                 ;; [:m [:!S7] :s-mode] ;; ampersand
                 ;; [:comma [:!S2] :s-mode] ;; at
                 ;; [:period [:!S1] :s-mode] ;; exclaimation
                 ;; [:slash [:!Sslash] :s-mode] ;; question

                 ;; f-mode - Cursor movement

      ; yuiop - cursor prev/next word, begin/end line
                 ;; [:y [:!Oleft_arrow] :f-mode] ;; prev word
                 ;; [:u [:end] :f-mode] ;; end
                 ;; [:i [:home] :f-mode] ;; home
                 ;; [:o [:!Oright_arrow] :f-mode] ;; next word 
                 ;; [:p [] :n-mode] ;;

      ;hjkl; - cursor up/down/left/right
                 [:h [:left_arrow] :f-mode] ;; move left
                 ;; [:h [:!Sleft_arrow] :g-mode] ;; big left
                 [:j [:down_arrow] :f-mode] ;; move down
                 ;; [:j [:!Sdown_arrow] :g-mode] ;; big down
                 [:k [:up_arrow] :f-mode] ;; move up
                 ;; [:k [:!Sup_arrow] :g-mode] ;; big up
                 [:l [:right_arrow] :f-mode] ;; move right
                 ;; [:l [:!Sright_arrow] :g-mode] ;; big right


                 ;;[:semicolon [] :n-mode] ;;

      ;nm,./ page management
                 ;; [:n [:!OSpage_down] :v-mode] ;; left tab (vscode)
                 ;; [:m [:page_down] :f-mode] ;; page down
                 ;; [:comma [:page_up] :f-mode] ;; page up
                 ;; [:period [:!OSpage_up] :v-mode] ;; right tab (vscode)
                 ;; [:slash [] :n-mode] ;;


                 ;; g-mode - select movement

      ;hjkl;

                 ;; v-mode - vscode

      ; movement
                 [:h [:!COleft_arrow] :v-mode] ;; left tab (vscode)
                 [:j [:page_down] :v-mode] ;; page down
                 [:k [:page_up] :v-mode] ;; page up
                 [:l [:!COright_arrow] :v-mode] ;; right tab (vscode)

      ;yuiop
                 [:t [:!Tgrave_accent_and_tilde] :v-mode] ;; terminal
                 [:b [:!Cb] :v-mode] ;; bookmarks
                 [:p [:!CSp] :v-mode] ;; cmd+shift+p
                 [:s [:!Cr :!Cs] :v-mode] ;; shortcuts
                 [:e [:!CSe] :v-mode] ;; explorer
                 [:f [:!CSf] :v-mode] ;; find

                 ;; c-mode - comments

                 ;; [:j [:slash :!S8 :!S8 :!S8 :slash :left_arrow :left_arrow :return_or_enter] :c-mode] ;; jsdoc
                 ;; [:m [:slash :!S8 :!S8 :slash :left_arrow :left_arrow :return_or_enter :return_or_enter :up_arrow :tab] :c-mode] ;; js multiline
                 ;; [:h [:!Scomma :!S1 :hyphen :hyphen :spacebar :spacebar :hyphen :hyphen :!Speriod :left_arrow :left_arrow :left_arrow :left_arrow] :c-mode] ;; html
                 ;; [:l [:slash :slash :space] :c-mode] ;; sh

                 ;; [:v [:!CSl] :c-mode] ;; view chat window
                 ;; [:i [:!CSy] :c-mode] ;; insert selection into chat
                 ;; [:e [:!CSe] :c-mode] ;; investigate error
                 ;; [:n [:!Cl] :c-mode] ;; brand new chat
                 ;; [:m [:!Cy] :c-mode] ;; new followup
                 ;; [:comma [:!Cdelete_or_backspace] :c-mode] ;; cancel chat
                 ;; ;; [:f [:!CSOf] :c-mode] ;; focus chat
                 ;; [:j [:!Ttab] :c-mode] ;; previous chat
                 ;; [:k [:!TStab] :c-mode] ;; next chat


                 ;;
                 ;; RIGHT HAND
                 ;;




      ; j-mode - large buttons, clipboard

      ;qwerty
                 ;; [:q [] :n-mode] ;;
                 ;; [:w [] :j-mode] ;;
                 [:e [:escape] :j-mode] ;; esc
                 [:r [:return_or_enter] :j-mode] ;; enter
                 [:r [:!Sreturn_or_enter] :k-mode] ;; shift+enter

      ;asdfghjkl;
                 ;; [:a [] :n-mode] ;;
                 [:s [:delete_or_backspace] :j-mode] ;; delete backwards
                 [:d [:delete_forward] :j-mode] ;; delete forwards
                 [:f [:tab] :j-mode] ;; tab
                 [:g [:!Stab] :j-mode] ;; shift+tab


      ;zxcvbnm,./
                 ;; [:z [:!Cz] :j-mode] ;; undo
                 ;; [:x [:!Cx] :j-mode] ;; cut
                 ;; [:c [:!Cc] :j-mode] ;; copy
                 ;; [:v [:!Cv] :j-mode] ;; paste
                 ;; [:b [:!CSz] :j-mode] ;; redo

                 ;; [:z [:!Cz] :j-mode] ;; undo
                 ;; [:x [:!Cx] :j-mode] ;; cut
                 ;; [:c [:!Cc] :j-mode] ;; copy
                 ;; [:v [:!Cright_arrow] :j-mode] ;; move to end of line
                 ;; [:b [:!CSz] :j-mode] ;; redo


                 ;; k-mode - brackets 

      ;qwerty
                 ;; [:q [:!S7] :k-mode] ;; ampersand
                 ;; [:w [:!Sopen_bracket] :k-mode] ;; open curly
                 ;; [:e [:!S9] :k-mode] ;; open parenthesis
                 ;; [:r [:!Scomma] :k-mode] ;; open angle
                 ;; [:t [:open_bracket] :k-mode] ;; open square

                 ;; ;asdfg
                 ;; [:a [:!Sbackslash] :k-mode] ;; pipe
                 ;; [:s [:!Sclose_bracket] :k-mode] ;; close curly
                 ;; [:d [:!S0] :k-mode] ;; close parenthesis
                 ;; [:f [:!Speriod] :k-mode] ;; close angle  
                 ;; [:g [:close_bracket] :k-mode] ;; close square

      ;zxcvb

      ;z - math brackets (does not work)
                 ;; [:z [:!O9]  :j-mode] ;; left ⟨ (Option+9)
                 ;; [:z [:!O0]  :k-mode] ;; right ⟩ (Option+0)
                 ;; [:z [:!O9 :!O0 :left_arrow] :l-mode] ;; double ⟨⟩
      ;x - curly
                 [:x [:!Sopen_bracket] :j-mode] ;; left curly
                 [:x [:!Sclose_bracket] :k-mode] ;; right curly
                 [:x [:!Sopen_bracket :!Sclose_bracket :left_arrow] :l-mode] ;; double curly
      ;c - parenthesis
                 [:c [:!S9] :j-mode] ;; left parenthesis
                 [:c [:!S0] :k-mode] ;; right parenthesis
                 [:c [:!S9 :!S0 :left_arrow] :l-mode] ;; double parenthesis
      ;v - angle
                 [:v [:!Scomma] :j-mode] ;; left angle
                 [:v [:!Speriod] :k-mode] ;; right angle
                 [:v [:!Scomma :!Speriod :left_arrow] :l-mode] ;; double angle
      ;b - square
                 [:b [:open_bracket] :j-mode] ;; left square
                 [:b [:close_bracket] :k-mode] ;; right square
                 [:b [:open_bracket :close_bracket :left_arrow] :l-mode] ;; double square
                 ]}]}