[language-server]
biome = { command = "biome", args = ["lsp-proxy"] }
pyright = { command = "pyright-langserver", args = ["--stdio"] }

[[language]]
name = "javascript"
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]
auto-format = true

[[language]]
name = "typescript"
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]
auto-format = true

[[language]]
name = "tsx"
auto-format = true
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]

[[language]]
name = "jsx"
auto-format = true
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]

[[language]]
name = "json"
language-servers = [ { name = "vscode-json-language-server", except-features = [ "format" ] }, "biome" ]
auto-format = true

[[language]]
name = "rust"
auto-format = true

[[language]]
name = "python"
language-servers = ["pyright"]
auto-format = true

[[language]]
name = "go"
auto-format = true

[[language]]
name = "markdown"
auto-format = true

[[language]]
name = "toml"
auto-format = true

[[language]]
name = "css"
auto-format = true

[[language]]
name = "scss"
auto-format = true

[[language]]
name = "html"
auto-format = true

[[language]]
name = "bash"
auto-format = true